{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.user) }}
    {{ form_widget(form.user) }}
</div>

<div class="form-group">
    {{ form_label(form.type) }}
    {{ form_widget(form.type) }}
</div>

<div class="form-group">
    {{ form_label(form.montant) }}
    {{ form_widget(form.montant) }}
</div>

<div class="form-group">
    {{ form_label(form.date) }}
    {{ form_widget(form.date) }}
</div>

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
</div>

<div class="form-group">
    {{ form_label(form.moduleSource) }}
    {{ form_widget(form.moduleSource) }}
</div>

<button type="submit" class="btn-primary">
    Ajouter Transaction
</button>

{{ form_end(form) }}
