{{ form_start(form, { 'attr': { 'class': '' } }) }}
    <div class="mb-3">{{ form_row(form.amount, { 'attr': { 'class': 'form-control' }, 'label': 'Montant (TND)' }) }}</div>
    <div class="mb-3">{{ form_row(form.type, { 'attr': { 'class': 'form-select' } }) }}</div>
    <div class="mb-3">{{ form_row(form.receivedAt, { 'attr': { 'class': 'form-control' }, 'label': 'Received date' }) }}</div>
    <div class="mb-3">{{ form_row(form.description, { 'attr': { 'class': 'form-control' }, 'required': false }) }}</div>
    <div class="mb-3">{{ form_row(form.user, { 'attr': { 'class': 'form-select' } }) }}</div>
    <button type="submit" class="btn btn-primary rounded-pill"><i class="fas fa-save me-2"></i>{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

